@import "tailwindcss";

@theme {
  --color-primaria: #1e40af;
  --color-destaque: #f59e0b;
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --radius-botao: 0.75rem;

  --color-card-start: #9333ea; /* roxo */
  --color-card-end: #3b82f6; /* azul */
  --radius-card: 1rem;
}

body {
  @apply bg-zinc-950 text-white antialiased;
}
